@import "config";
@import "menu";
@import "mobile";

/*------------------------------------*\
  $ GEN
\*------------------------------------*/
* { box-sizing: border-box; }

body {
  @include background;
  background-color: $primary-color;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}
/*------------------------------------*\
  $ TITLE
\*------------------------------------*/
h1, h2, h3 {
  font-weight: 400;
  margin: 0;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    background-color: rgba(lighten($primary-color, 2), .5);
    margin-bottom: 2rem;
    padding: .2rem 1rem;
  }
}
/*------------------------------------*\
  $ HEADER
\*------------------------------------*/
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.text-secondary { color: $secondary-color; }
/*------------------------------------*\
  $ MAIN CONTENT
\*------------------------------------*/
main {
  height: 100%;
  padding: 4rem;
  .icons {
    margin-top: 1rem;
    a {
      padding: .4rem;
      &:hover {
        @include easeOut;
        color: $secondary-color;
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}